web: knex migrate:latest && knex seed:run && node server.js
//MANUALLY RAN 'knex migrate:latest' && 'knex seed:run' through the CLI to create the database and run the seeds.
Node server is running through the procfile but not the other two commands .
