<!DOCTYPE html>
<html>
<style>
  html,
  body {
    height: 100%;
  }

  body{
    background: #F7F7F7;
    font-family: Tahoma, sans-serif;
    margin: 0;
  }

  #navbar ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: left;
    background-color: #176ac4;
    height: 4em;
    line-height: 4em;
  }

  #navbar ul li {
    display: inline;
  }

  #navbar ul li a {
    text-decoration: none;
    padding: .2em 1em;
    margin-left: 2em;
    color: #fff;
    z-index: 2;

  }

  #navbar ul li a:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
  }

  .logout {
    margin-left: 58em;
  }

  .row {
    width: auto;
    border: 1px solid blue;
  }

  .logo-div {
    z-index: 2;
    position: absolute;
    width: 19%;
    height: 26%;
    margin-left: 36em;
  }
  .logo{
    z-index: 2;
    width: 100%;
    height:100%;
  }

  .button {
    background-color: #176ac4;
    color: white;
    height: 2em;
    width: 6em;
    border: none;
    cursor: pointer;
    font-size: 20px;
    bmoz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    text-align: center;
    float: right;
    margin-top: 1em;
    text-decoration: none;
    line-height: 2em;
  }
  .box {
    height: 100%;
    width: 43%;
    display: inline-block;
    margin: 0 auto;
  }
  .container{
  margin-top: 10em;
  }
  .list {
    height: 10em;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 10px;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
  }
  .images{
    margin-top: 1em;
    height: 80%;
    width: 80%;
  }
  .name{

  }

</style>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="logo-div">
  <img class="logo" src="/images/food.png" alt="">
  </div>
  <div id="navbar">
    <ul>
      <li class=""><a href="#">Our mission</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">About</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
<div class="container">



  <% for(let i=0;i<donations.length;i++){  %>
  <div class="list">
          <div class="box">

            <div class="images">
          <img class="images"src="<%=donations[i].avatar_img%>" alt="">
          </div>
          </div>
          <div class="box">
            <h2 style="text-align:right;">Date: <%=(donations[i].date + "").slice(0,15)%> </h2>
              <br>
          <div class="description">
            <div class="button-container">
              <a class="button" type="submit" href="/viewOrder/<%=donations[i].id%>">View</a>
            </div>
          </div>
        </div>

    </div>
      <% } %>
</div>

  </div>
</body>

</html>
