<!DOCTYPE html>
<html>
<style>
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
  }

  #navbar ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: left;
    background-color: #176ac4;
    height: 4em;
    line-height: 4em;
  }

  #navbar ul li {
    display: inline;
  }

  #navbar ul li a {
    text-decoration: none;
    padding: .2em 1em;
    margin-left: 2em;
    color: #fff;
    z-index: 2;

  }

  #navbar ul li a:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
  }

  .logout {
    margin-left: 58em;
  }

  .donation-container {
    height: 100%;
    width: 30em;
    margin:auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .row {
    width: auto;
    border: 1px solid blue;
  }

  .flex-item {
    border: 1px solid grey;
    padding: 5px;
    width: 25em;
    height: 5em;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction:row;
  }
  .business-image{
    height: 100%;
    border: 1px solid black;
    flex: 1;
  }
  .description{
    border: 1px solid black;
    flex-grow: 3;
  }
</style>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div id="navbar">
    <ul>
      <li class=""><a href="#">Our mission</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">About</a></li>
      <li class="logout"><a class="logout" href="#">Logout</a></li>
    </ul>
  </div>
  <div class="donation-container">
    <div class="row">
      <div class="flex-item">
        <div class="business-image">
          <img src="" alt="">
          </div>
          <div class="description">
          </div>
      </div>
      <div class="flex-item">
        <div class="business-image">
          <img src="" alt="">
        </div>
        <div class="description">
        </div>
      </div>
      <div class="flex-item">
        <div class="business-image">
          <img src="" alt="">
        </div>
        <div class="description">
        </div>
      </div>
      <div class="flex-item">
        <div class="business-image">
          <img src="" alt="">
        </div>
        <div class="description">
        </div>
      </div>
    </div>
  </div>
</body>

</html>
