<!DOCTYPE html>
<html>
<style media="screen">
  #navbar {
    border-bottom: 2px solid white;
  }

  #navbar ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: right;
    background-color: #176ac4;
    height: 4em;
    line-height: 4em;
  }

  #navbar ul li {
    display: inline;
  }

  #navbar ul li a {
    text-decoration: none;
    padding: .2em 1em;
    margin-left: 2em;
    color: #fff;
    z-index: 2;

  }

  #navbar ul li a:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
  }

  .login {
    float: right;
  }

  body {
    background: #F7F7F7;
    font-family: Tahoma, sans-serif;
    margin: 0;
  }

  .img-container {
    width: 100%;
    height: 27em;
  }

  .banner {
    height: 100%;
    width: 100%;
  }

  .centered {
    color: #0656ad;
    text-align: center;

  }

  .row {
    margin-top: 1em;
    padding-bottom: 4px;
  }

  .row-text {
    width: 78%;
    height: 5em;
    align-self: center;
    margin: auto;
  }

  .panel {
    width: 78%;
    height: 16em;
    margin: auto;
    margin-top: 2em;
    text-align: center;
  }

  .charities {
    height: 12em;
    width: 20em;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
  }

  .images {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .charities+.charities {
    margin-left: 2em;
  }

  .donors {}

  .footer {
    margin-top: 7em;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #176ac4;
    color: white;
    text-align: center;
    height: 10em;
  }

  input[type=text],
  input[type=password],
  input[type="email"] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }

  button {
    background-color: #176ac4;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size: 20px;
  }

  button:hover {
    opacity: 0.8;
  }

  select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }

  .imgcontainer {

    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }


  .modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    padding-bottom: 30px;
  }

  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  /* Add Zoom Animation */

  .animate {
    animation: zoom 0.6s
  }

  .mission {
    width: 78%;
    height: 20em;
    margin: auto;
  }

  .logo-div {
    z-index: 2;
    position: absolute;
    width: 19%;
    height: 26%;
    margin-left: 36em;
  }

  .logo {
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }

  .left {
    float: left;
    color: white;
  }

  .gradient {
    width: 100%;
    height: 100%;
  }
</style>
</head>

<body>
  <div class="logo-div">
    <img class="logo" src="/images/food.png" alt="">
  </div>
  <div id="navbar">
    <ul>
      <li class="left"><a href="#">Our mission</a></li>
      <li class="left"><a href="#">Solutions</a></li>
      <li class="left"><a href="#">How we can help</a></li>
      <% if(user_id && user_type === "donor"){ %>
        <li><a href="/createNew">Create New Donation</a></li>
        <li><a href="/donorSummary">Your donations</a></li>
        <li><a href="/logout">Log-out</a></li>

        <%} else if(user_id && user_type === "charity"){ %>
          <li><a class="login" href="/donations">View Available Donations</a></li>
          <li><a class="login" href="/logout">Log-out</a></li>
          <%}%>
            <% if(!user_id){ %>
              <li><a onclick="document.getElementById('modal-wrapper1').style.display='block'" class="login" href="#">Register</a></li>
              <li><a class="login" onclick="document.getElementById('modal-wrapper').style.display='block'" href="#">Login</a></li>
              <% } %>


    </ul>
  </div>
  <div class="img-container">
    <div class="gradient">
      <img class="banner" src="https://www.unitedwayrrv.org/images/easyblog_images/88/United-Way-of-Rock-River-Valley_Charities-for-Children-Americas-Future_Image-1.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <h1 class="centered">Help those who need it most.</h1>
  </div>
  <div class="row-text">
    <h3>Where would your contribution go?</h3>
    <p>Take a look at some of the charities that would benefit from your generosity</p>
  </div>
  <div class="panel">

    <% for(let i=0;i<users.length;i++){  %>
      <%if(users[i].user_type == "charity"){%>
      <div class="charities">
        <img src="<%=users[i].avatar_img%>" alt="">
      </div>
      <%}%>
      <% } %>
  </div>
  <div id="modal-wrapper" class="modal">
    <form class="modal-content animate" method="post" action="/login">
      <div class="imgcontainer">
        <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
        <h1 style="text-align:center">Login</h1>
      </div>
      <div class="container">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Enter Password" name="password">
        <button type="submit">Login</button>
        <input type="checkbox" style="margin:26px 30px;"> Remember Me

      </div>
    </form>
  </div>

  <div id="modal-wrapper1" class="modal">
    <form class="modal-content animate" method="post" action="/registration">
      <div class="imgcontainer">
        <span onclick="document.getElementById('modal-wrapper1').style.display='none'" class="close" title="Close PopUp">&times;</span>
        <h1 style="text-align:center">Register</h1>
      </div>
      <div class="container">
        <input type="text" placeholder="Business/Charity" name="name">
        <input type="password" placeholder="Password" name="password">
        <input type="email" placeholder="Email" name="email">
        <input type="text" placeholder=" Phone Number" name="phone">
        <input type="text" placeholder="logo_url (optional)" name="avatar_img">
        <select class="" name="user_type">
        <option value="donor">Donor</option>
        <option value="charity">Charity</option>
      </select>
        <button type="submit">Register</button>
        <input type="checkbox" style="margin:26px 30px;"> Remember me
      </div>
    </form>
  </div>
  <div class="mission">
    <h3>Mission Statement: </h3>
    <p>Food for Phoenix aims to limit food waste while helping to feed the homeless within the greater Phoenix metro community. Through the Food for Phoenix application we have created a system for organizations to donate excess food to local charities who service the homeless community. We feel passionate about food waste and helping those in need and aim to benefit our community through the use of our food sharing application.</p>
  </div>
  <div class="footer">
  </div>
  <script>
    var modal = document.getElementById('modal-wrapper');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</body>

</html>
