<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Charity View Order</title>
    <style media="screen">
    #navbar{
      border: 1px solid grey;
    }
    #navbar ul {
      margin: 0;
      padding: 5px;
      list-style-type: none;
      text-align: left;
      background-color: #176ac4;
      height: 4em;
      line-height: 4em;
    }

    #navbar ul li {
      display: inline;
    }

    #navbar ul li a {
      text-decoration: none;
      padding: .2em 1em;
      margin-left: 2em;
      color: #fff;
      z-index: 2;

    }

    #navbar ul li a:hover {
      color: #000;
      background: rgba(255, 255, 255, 0.5);
      height: 100%;
    }

    .logout {
      float: right;
    }
    body{
      background: #F7F7F7;
    }
    .logo-div {
      z-index: 2;
      position: absolute;
      width: 19%;
      height: 26%;
      margin-left: 36em;
    }
    .logo{
      z-index: 2;
      width: 100%;
      height:100%;
    }
    .form-container{
    height: 30em;
    width: 100%;
    display: inline-block;
    text-align: center;
    }
    .container{
      width: 70%;
      height: 30em;
      padding: 10px;
      margin:auto;
      margin-top: 10em;
    }
    .button {
      background-color: #176ac4;
      color: white;
      height: 2em;
      width: 6em;
      border: none;
      cursor: pointer;
      font-size: 20px;
      bmoz-box-shadow: 0 0 3px #ccc;
      -webkit-box-shadow: 0 0 3px #ccc;
      box-shadow: 0 0 3px #ccc;
      text-align: center;
      margin-top: 1em;
    }
    .button-container{
      width: 20%;
      margin:auto;
      border: 1px solid black;
      height: 20em;
      text-align: center;
    }
    .confirm{
      text-decoration: none;
      color: white;
    }
    .title{
      text-align: center;
      margin: auto;
    }
    textarea#styled {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}
    </style>
  </head>
  <body>
    <div class="logo-div">
    <img class="logo" src="/images/food.png" alt="">
  </div>
    <div id="navbar">
      <ul>
        <li class=""><a href="#">Our mission</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li> <a class="logout" href="/donorSummary">View your orders</a></li>
        <li><a class="logout" href="/logout">Logout</a></li>
      </ul>
    </div>
<div class="container">



      <div class="form-container">
          <form action="/note/<%=note.id%>" id="usrform" method="post">
            <div class="title">
            <h2>Communication form</h2>
            <p>add a descriptive note for the donors</p>
              </div>
            <textarea id="styled"rows="14" cols="100" name="comment" form="usrform" placeholder="Enter a new note"></textarea>
            <br>
            <button class="button"type="submit">Submit</button>
            <button class="button"><a class="confirm"href="/update/<%=order.id%>">Confirm</a></button>
          </form>
          </div>

    </div>
  </body>
</html>
